:root {
    /*? base color */
    --blue: hsl(200, 100%, 60%);
    --yellow: hsl(64, 100%, 60%);
    --green: hsl(128, 100%, 60%);
    --red: hsl(0, 100%, 60%);

    /*? soft color */
    --blue-soft: hsl(200, 100%, 70%);
    --yellow-soft: hsl(64, 100%, 70%);
    --green-soft: hsl(128, 100%, 70%);
    --red-soft: hsl(0, 100%, 70%);
    /*? softest color */
    --blue-softer: hsl(200, 100%, 90%);
    --yellow-softer: hsl(64, 100%, 90%);
    --green-softer: hsl(128, 100%, 90%);
    --red-softer: hsl(0, 100%, 90%);

    /*? dark color */
    --blue-dark: hsl(200, 100%, 50%);
    --yellow-dark: hsl(64, 100%, 50%);
    --green-dark: hsl(128, 100%, 50%);
    --red-dark: hsl(0, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    pointer-events: none;
}
button, label {
    cursor: pointer;
    pointer-events: all;
}

/* body {
    background: black;
} */

/* #title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 5em;
    background: conic-gradient(from -45deg, var(--token-blue-softest), var(--token-yellow-softest), var(--token-green-softest), var(--token-red-softest), var(--token-blue-softest));
    background-clip: text;
    color: transparent;
} */

#board {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 1;
    display: grid;
    grid-template: 6fr 4fr 6fr / 6fr 4fr 6fr;
    /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
    grid-template-areas:
        "home-1 path-1 home-2"
        "path-4 finish path-2"
        "home-4 path-3 home-3";
    /* background-color: white; */
    /* gap: 2px; */
    /* background: conic-gradient(from -45deg, var(--token-blue-softest), var(--token-yellow-softest), var(--token-green-softest), var(--token-red-softest), var(--token-blue-softest)); */
        background: conic-gradient(from -108deg, var(--blue-soft) 0deg 90deg, var(--yellow-soft) 90deg 180deg, var(--green-soft) 180deg 270deg, var(--red-soft) 270deg 360deg, var(--blue-soft));
    margin: 5px auto;
}

/* .home-square,
.finish-square {
    border-radius: 30px;
} */

.home-square {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 20%;
    gap: 10%;
}


.home-square-blue {
    grid-area: home-1;
    background-color: var(--blue-soft);
}

.home-square-yellow {
    grid-area: home-2;
    background-color: var(--yellow-soft);
}

.home-square-green {
    grid-area: home-3;
    background-color: var(--green-soft);
}

.home-square-red {
    grid-area: home-4;
    background-color: var(--red-soft);

}

.path-cont {
    display: grid;
}

.path-cont-1 {
    grid-area: path-1;
    grid-template: repeat(6, 1fr) /repeat(3, 1fr);
}


.path-cont-2 {
    grid-area: path-2;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}


.path-cont-3 {
    grid-template: repeat(6, 1fr) /repeat(3, 1fr);
    grid-area: path-3;
}

.path-cont-4 {
    grid-area: path-4;
    grid-template: repeat(3, 1fr)/repeat(6, 1fr);
}

.finish-square {
    grid-area: finish;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: conic-gradient(from -108deg, var(--blue-soft) 0deg 90deg, var(--yellow-soft) 90deg 180deg, var(--green-soft) 180deg 270deg, var(--red-soft) 270deg 360deg, var(--blue-soft));
    background-color: white;
    gap: 5px;
}

.finish-square .direct {
    /* height: 67%;
    width: 67%; */
    position: absolute;
    user-select: none;
    background-color: whitesmoke;
    /* animation: blink 1.5s infinite; */
    z-index: 1000;
    /* border: 1px solid #000; */
    border-radius: 50%;
}

.direct.blue {
    background-color: var(--blue-soft);
}

.direct.yellow {
    background-color: var(--yellow-soft);
}

.direct.green {
    background-color: var(--green-soft);
}

.direct.red {
    background-color: var(--red-soft);
}

@keyframes blinkk {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

.finish-square .direct:nth-child(1) {
    top: -33%;
    left: -33%;
}

.finish-square .direct:nth-child(2) {
    top: -33%;
    right: -33%;
}

.finish-square .direct:nth-child(3) {
    bottom: -33%;
    right: -33%;
}

.finish-square .direct:nth-child(4) {
    bottom: -33%;
    left: -33%;
}

.move-square,
.place-square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition-delay: 1000ms; */
    position: relative;
    /* background-color: #fff; */
    color: black;
    pointer-events: none;
}

.place-square {
    background-color: transparent;
}

.move-square {
    background-color: whitesmoke;
    font-size: .5em;
}

.move-square,
.place-square {
    font-weight: bold;
    line-height: 0%;
}

.place-square .token {
    scale: 1.7;
}

#trophy {
    height: 100%;
    width: 100%;
}

.token {
    /* width: 80%; */
    aspect-ratio: 1;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    z-index: 2;
    background: white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 1em !important;
    font-weight: bolder;
    line-height: 0%;
    pointer-events: all;
    border-bottom: 1px solid #00000020;
}
.active.open {
    animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
    0%, 100% {
        transform: translateY(0px) scale(.7);
    }

    50% {
        transform: translateY(-2px) scale(.7);
    }
}
.active:nth-child(1) {
    animation-delay: 0s;
}
.active:nth-child(2) {
    animation-delay: 0.5s;
}
.active:nth-child(3) {
    animation-delay: 0.25s;
}
.active:nth-child(4) {
    animation-delay: 0.75s;
}

.icon {
    width: 60%;
    height: 60%;
}

.token-blue {
    background-color: var(--blue);
    /* font-size: 1.2em !important; */
}

.token-blue .icon {
    width: 65%;
    height: 65%;
}

.token-yellow {
    background-color: var(--yellow);
    /* font-size: 1.5em !important; */
}

.token-red {
    background-color: var(--red);
}

.token-green {
    background-color: var(--green);
}


.stop {
    /* color: #999; */
    background-color: lightgray;
    color: black;
    font-size: 1.2em !important;
}

.stop .star {
    /* aspect-ratio: 1; */
    padding: 10%;
}

.blue-stop {
    /* color: var(--token-blue-soft); */
    background-color: var(--blue-soft);
}

.yellow-stop {
    /* color: var(--token-yellow-soft); */
    background-color: var(--yellow-soft);
}

.red-stop {
    /* color: var(--token-red-soft); */
    background-color: var(--red-soft);
}

.green-stop {
    /* color: var(--token-green-soft); */
    background-color: var(--green-soft);
}


#dice {
    width: 40%;
    height: 40%;
    background-color: #fff;
    font-size: 2em;
    border-radius: 25%;
    border: none;
    border-bottom: 2px solid #00000020;
    box-shadow: 0 1px 2px gray;
    /* box-shadow: 0 2px 3px ; */
    /* color: var(--blue-dark); */
    pointer-events: all;
    position: absolute;
    transition: all 0.6s;
    /* translate: -45% -45%; */
}

#dice:active {
    box-shadow: none;
    /* border-bottom: none; */
    transform: translateY(1.9px);
    scale: 0.98;
}

#current-player {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color: var(--blue);
    background: rgb(0, 0, 0);
    padding: 15px 10px;
    /* border-radius: 50px; */
    /* box-shadow: 0 1px 2px; */
    /* border-bottom: 2px solid #ffffff60; */
}
#turn {
    color: #ccc;
}

.final-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

/* .final-square-blue {
    background-color: var(--token-blue-dark);
}
.final-square-yellow {
    background-color: var(--token-yellow-dark);
}
.final-square-red {
    background-color: var(--token-red-dark);
}
.final-square-green {
    background-color: var(--token-green-dark);
} */


.final-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.final-arrow svg,
.token {
    aspect-ratio: 1;
}

/* .final-arrow svg path {
    fill: whitesmoke;
} */


.indicator {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #00000080; */
    border: 8px solid #ffffff;
}

.toggles {
    height: 100px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: left;
    padding: 10px;
    /* margin: 10px; */
    gap: 15px;
    background-color: black;
}
.toggles label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    color: black;
    pointer-events: all;
    user-select: none;
}

.toggles input {
    display: none;
}