:root {
    --start-grey: #f3f4f6;
    --start-grey-dark: #d1d5db;

    --finish-blue: #cce3ff;
    --finish-yellow: #fff7cc;
    --finish-pink: #ffe3f0;
    --finish-green: #d6fff3;

    --token-blue: #4F8CFF;
    --token-yellow: #FFE066;
    --token-pink: #FF6FB5;
    --token-green: #6FFFBF;

    --token-blue-soft: #A7C7FF;
    --token-yellow-soft: #FFF6B0;
    --token-green-soft: #B8FFE6;
    --token-pink-soft: #FFD1E6;

    --token-blue-softest: #E5F2FF;
    --token-yellow-softest: #FFF8D7;
    --token-pink-softest: #FFEFEF;
    --token-green-softest: #D6FFF3;

    --board-bg: linear-gradient(135deg, #f8fafc 60%, #f1f5f9 100%);
    --shadow-light: 0 2px 8px 0 #858585;
    --dice-bg: #f8fafc;
    --dice-dot: #cbd5e1;
    --text-dark: #222;
    --grey-dark: #444;
    --grey-bg: #eeeeee;

    --lil-shadow: 0px 2px 3px 0px #0000001e;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}


#board {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1;
    display: grid;
    grid-template: 6fr 4fr 6fr / 6fr 4fr 6fr;
    /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
    grid-template-areas:
        "home-1 path-1 home-2"
        "path-4 finish path-2"
        "home-4 path-3 home-3";
}


.home-square {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 20%;
    gap: 10%;
}

.home-square-1 {
    grid-area: home-1;
}

.home-square-2 {
    grid-area: home-2;
}

.home-square-3 {
    grid-area: home-3;
}

.home-square-4 {
    grid-area: home-4;

}

.path-cont {
    display: grid;
}

.path-cont-1 {
    grid-area: path-1;
    grid-template: repeat(6, 1fr) /repeat(3, 1fr);
}


.path-cont-2 {
    grid-area: path-2;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}


.path-cont-3 {
    grid-template: repeat(6, 1fr) /repeat(3, 1fr);
    grid-area: path-3;
}

.path-cont-4 {
    grid-area: path-4;
    grid-template: repeat(3, 1fr)/repeat(6, 1fr);
}

.finish-square {
    grid-area: finish;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    gap: 5px;
}

/* .finish-square .direct {
    height: 60%;
    width: 60%;
    position: absolute;
    user-select: none;
    animation: blink 1.5s infinite;
    z-index: 1000;
    border: 1px solid #000;
    border-radius: 30%;
}

@keyframes blinkk {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
} */

.finish-square .direct:nth-child(1) {
    top: -40%;
    left: -40%;
}

.finish-square .direct:nth-child(2) {
    top: -40%;
    right: -40%;
}

.finish-square .direct:nth-child(3) {
    bottom: -40%;
    left: -40%;
}

.finish-square .direct:nth-child(4) {
    bottom: -40%;
    right: -40%;
}

.move-square,
.place-square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-delay: 1000ms;
    position: relative;
    background-color: #fff;
}


.move-square {
    font-size: 2em;
    font-weight: bolder;
    line-height: 0%;
}

.place-square {
    background-color: transparent;
    border: 1px solid #000;
}

#trophy {
    height: 100%;
    width: 100%;
}





.token {
    /* width: 80%; */
    aspect-ratio: 1;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 2;
    background: white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 1px 2px gray;
}

.token-blue {
    background-color: var(--token-blue-soft);
}

.token-yellow {
    background-color: var(--token-yellow-soft);
}

.token-pink {
    background-color: var(--token-pink-soft);
}

.token-green {
    background-color: var(--token-green-soft);
}



.blue-stop {
    color: var(--token-blue-soft);
}

.yellow-stop {
    color: var(--token-yellow);
}

.pink-stop {
    color: var(--token-pink);
}

.green-stop {
    color: var(--token-green);
}

#current-player {
    z-index: 999;
}

#dice {
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size: 30px;
    border-radius: 25%;
    border: none;
    box-shadow: 0 2px 3px lightgray;
}

#current-player {
        font-family: Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.5em;
}

.final-square {
    display: flex;
    justify-content: center;
    align-items: center;

}

.final-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-arrow svg, .token {
    aspect-ratio: 1;
}

.path-cont {
    background-color: grey !important;
    gap: .5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px lightgray;
    z-index: 9;
}
