:root {
    /*? base color */
    --blue: hsl(200, 90%, 60%);
    --yellow: hsl(64, 90%, 60%);
    --green: hsl(128, 90%, 60%);
    --pink: hsl(0, 90%, 60%);

    /*? soft color */
    --blue-soft: hsl(200, 90%, 70%);
    --yellow-soft: hsl(64, 90%, 70%);
    --green-soft: hsl(128, 90%, 70%);
    --pink-soft: hsl(0, 90%, 70%);

    /*? dark color */
    --blue-dark: hsl(200, 90%, 40%);
    --yellow-dark: hsl(64, 90%, 40%);
    --green-dark: hsl(128, 90%, 40%);
    --pink-dark: hsl(0, 90%, 40%);

    /*? softest color */
    --blue-softer: hsl(200, 90%, 80%);
    --yellow-softer: hsl(64, 90%, 80%);
    --green-softer: hsl(128, 90%, 80%);
    --pink-softer: hsl(0, 90%, 80%);

    --start-grey: #f3f4f6;
    --start-grey-dark: #d1d5db;

    --finish-blue: #cce3ff;
    --finish-yellow: #fff7cc;
    --finish-pink: #ffe3f0;
    --finish-green: #d6fff3;

    --token-blue: #4F8CFF;
    --token-yellow: #FFE066;
    --token-pink: #FF6FB5;
    --token-green: #6FFFBF;

    --token-blue-soft: #A7C7FF;
    --token-yellow-soft: #FFF6B0;
    --token-green-soft: #B8FFE6;
    --token-pink-soft: #ffd1d1;

    --token-blue-dark: #424855;
    --token-yellow-dark: #555244;
    --token-pink-dark: #524249;
    --token-green-dark: #41554c;

    --token-blue-softest: #E5F2FF;
    --token-yellow-softest: #FFF8D7;
    --token-pink-softest: #FFEFEF;
    --token-green-softest: #D6FFF3;

    --board-bg: linear-gradient(135deg, #f8fafc 60%, #f1f5f9 100%);
    --shadow-light: 0 2px 8px 0 #858585;
    --dice-bg: #f8fafc;
    --dice-dot: #cbd5e1;
    --text-dark: #222;
    --grey-dark: #444;
    --grey-bg: #eeeeee;

    --lil-shadow: 0px 2px 3px 0px #0000001e;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    pointer-events: none;
}

/* body {
    background: black;
} */

#title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 5em;
    background: conic-gradient(from -45deg, var(--token-blue-softest), var(--token-yellow-softest), var(--token-green-softest), var(--token-pink-softest), var(--token-blue-softest));
    background-clip: text;
    color: transparent;
}

#board {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1;
    display: grid;
    grid-template: 6fr 4fr 6fr / 6fr 4fr 6fr;
    /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
    grid-template-areas:
        "home-1 path-1 home-2"
        "path-4 finish path-2"
        "home-4 path-3 home-3";
    /* background-color: white; */
    /* gap: 2px; */
    /* background: conic-gradient(from -45deg, var(--token-blue-softest), var(--token-yellow-softest), var(--token-green-softest), var(--token-pink-softest), var(--token-blue-softest)); */
}

/* .home-square,
.finish-square {
    border-radius: 30px;
} */

.home-square {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 20%;
    gap: 10%;
}


.home-square-blue {
    grid-area: home-1;
    background-color: var(--blue-soft);
}

.home-square-yellow {
    grid-area: home-2;
    background-color: var(--yellow-soft);
}

.home-square-green {
    grid-area: home-3;
    background-color: var(--green-soft);
}

.home-square-pink {
    grid-area: home-4;
    background-color: var(--pink-soft);

}

.path-cont {
    display: grid;
}

.path-cont-1 {
    grid-area: path-1;
    grid-template: repeat(6, 1fr) /repeat(3, 1fr);
}


.path-cont-2 {
    grid-area: path-2;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}


.path-cont-3 {
    grid-template: repeat(6, 1fr) /repeat(3, 1fr);
    grid-area: path-3;
}

.path-cont-4 {
    grid-area: path-4;
    grid-template: repeat(3, 1fr)/repeat(6, 1fr);
}

.finish-square {
    grid-area: finish;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: conic-gradient(from -108deg, var(--blue-soft) 0deg 90deg, var(--yellow-soft) 90deg 180deg, var(--green-soft) 180deg 270deg, var(--pink-soft)  270deg 360deg, var(--blue-softer));
    background-color: white;
    gap: 5px;
}

.finish-square .direct {
    /* height: 67%;
    width: 67%; */
    position: absolute;
    user-select: none;
    background-color: whitesmoke;
    /* animation: blink 1.5s infinite; */
    z-index: 1000;
    /* border: 1px solid #000; */
    border-radius: 50%;
}
.direct.blue {
    background-color: var(--blue-soft);
}
.direct.yellow {
    background-color: var(--yellow-soft);
}
.direct.green {
    background-color: var(--green-soft);
}
.direct.pink {
    background-color: var(--pink-soft);
}

@keyframes blinkk {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

.finish-square .direct:nth-child(1) {
    top: -33%;
    left: -33%;
}

.finish-square .direct:nth-child(2) {
    top: -33%;
    right: -33%;
}

.finish-square .direct:nth-child(3) {
    bottom: -33%;
    right: -33%;
}

.finish-square .direct:nth-child(4) {
    bottom: -33%;
    left: -33%;
}

.move-square,
.place-square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition-delay: 1000ms; */
    position: relative;
    /* background-color: #fff; */
    color: black;
}

.place-square {
    background-color: transparent;
}
.move-square {
    background-color: whitesmoke;
}

.move-square,
.place-square {
    font-size: .5em;
    font-weight: bold;
    line-height: 0%;
}

.place-square .token {
    scale: 1.7;
}

#trophy {
    height: 100%;
    width: 100%;
}

.token {
    /* width: 80%; */
    aspect-ratio: 1;
    cursor: pointer;
    transition: translate 0.25s linear, scale 0.25s linear;
    z-index: 2;
    background: white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 1em !important;
    font-weight: bolder;
    line-height: 0%;
    pointer-events: all;
    border-bottom: 1px solid #00000020;
}

.active {
    border: 2px dashed #000;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon {
    width: 60%;
    height: 60%;
}

.token-blue {
    background-color: var(--blue);
    /* font-size: 1.2em !important; */
}

.token-blue .icon {
    width: 65%;
    height: 65%;
}

.token-yellow {
    background-color: var(--yellow);
    /* font-size: 1.5em !important; */
}

.token-pink {
    background-color: var(--pink);
}

.token-green {
    background-color: var(--green);
}


.stop {
    /* color: #999; */
    background-color: lightgray;
    color: black;
    font-size: 1.2em !important;
}

.stop .star {
    /* aspect-ratio: 1; */
    padding: 10%;
}

.blue-stop {
    /* color: var(--token-blue-soft); */
    background-color: var(--blue-soft);
}

.yellow-stop {
    /* color: var(--token-yellow-soft); */
    background-color: var(--yellow-soft);
}

.pink-stop {
    /* color: var(--token-pink-soft); */
    background-color: var(--pink-soft);
}

.green-stop {
    /* color: var(--token-green-soft); */
    background-color: var(--green-soft);
}


#dice {
    width: 40%;
    height: 40%;
    background-color: #fff;
    font-size: 30px;
    border-radius: 25%;
    border: none;
    border-bottom: 2px solid #00000020;
    box-shadow: 0 1px 2px ;
    /* box-shadow: 0 2px 3px ; */
    color: black;
    pointer-events: all;
    transition: all 0.1s;
}

#dice:active {
    box-shadow: none;
    /* border-bottom: none; */
    transform: translateY(1.9px);
    scale: 0.98;
}

#current-player {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: black;
    background: white;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: 0 1px 2px ;
    border-bottom: 2px solid #00000020;
}

.final-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

/* .final-square-blue {
    background-color: var(--token-blue-dark);
}
.final-square-yellow {
    background-color: var(--token-yellow-dark);
}
.final-square-pink {
    background-color: var(--token-pink-dark);
}
.final-square-green {
    background-color: var(--token-green-dark);
} */


.final-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.final-arrow svg,
.token {
    aspect-ratio: 1;
}

.final-arrow svg path {
    fill: white;
}

.path-cont {
    background-color: white;
    /* gap: 1px; */
    /* border-radius: 13px; */
    /* box-shadow: none; */
    /* z-index: 1; */
    /* border-bottom: 2px solid #00000020; */
    /* overflow: hidden; */
    
}

.indicator {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #00000080; */
    border: 8px solid #ffffff;
}